<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact</title>
    <%- include('shared-imports') %>
    <link rel="stylesheet" href="/css/contact.css">
</head>

<body>
    <%- include('header')%>

    <!--header-->
    <div class="parallax" data-parallax="scroll" data-image-src="/images/img_head_contact.jpg" data-position-Y="center">
        <div class="background-color">
            <div class="container">
                <div class="row fix-title-head">
                    <div class="col-md-12 wow  fadeIn" data-wow-delay="0.5s" style="width: 100%;text-align: center">
                        <span class="title-yellow-head">La Cuisine</span>
                    </div>
                    <div class="col-md-12 wow  bounceIn" data-wow-delay="1s" style="width: 100%;text-align: center">
                        <h2 class=" title-h2-head ">GET IN TOUCH</h2>
                    </div>
                    <div class="col-md-12 wow  fadeInUp" data-wow-delay="1.5s" style="width: 100%;text-align: center">
                        <p class="p-head">
                            For any enquiries you can give us a call at +84 988 888 888
                            <br>
                            Alternatively we can get in touch using the form bellow.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--container-->
    <div class="parallax" data-parallax="scroll" data-image-src="/images/background-pizza.jpg" data-position-Y="center">
        <div class="background-color-form">
            <div class="container Contact">
                <div class="row">
                    <div class="title col-md-12">
                        <h2>Send us a message!</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="description col-md-8">
                        <p>There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered alteration, by injected humour,
                            or new randomised words which don't look believable.
                        </p>
                    </div>
                </div>

                <form action="/save-comment" method="post" id="formContact">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div id="input" class="col-md-12 wow slideInLeft">
                                    <input type="text" id="name" required name="name" placeholder="Full name*">
                                    <input type="email" required name="email" placeholder="Email*">
                                    <input type="number" required maxlength="11" name="phone"
                                        placeholder="Phone number*">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea name="message" class="wow slideInRight" placeholder="Your message"
                                        rows="2" cols="20"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn wow slideInUp fixBtn1">SEND</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--location-->
    <div class="background-local">
        <div class="container">
            <form action="/thanh-pho" method="get" id="FormChooseCity">
                <div class="row">
                    <div class="col-md-6">
                        <div class="selected">
                            <select id="country" onchange="changeCountry()" class="browser-default custom-select custom-select-lg mb-3">
                                <option selected disabled>Select country</option>
                                <option value="VIETNAM">VIETNAM</option>
                                <option value="USA">USA</option>
                                <option value="India">INDIA</option>
                                <option value="ITALY" >ITALY</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="selected">
                            <select id="area" class="browser-default custom-select custom-select-lg mb-3" name="city">
                            <% vitris.map((e) => { %>
                                <option value="hanoi" <% if (e.ThanhPho == 'hanoi') { %> selected <% } %> >Hà Nội</option>
                                <option value="hcm" <% if (e.ThanhPho == 'hcm') { %> selected <% } %>>Hồ Chí Minh City</option>
                                <option value="washington" <% if (e.ThanhPho == 'washington') { %> selected <% } %>>Washington</option>
                                <option value="delhi" <% if (e.ThanhPho == 'delhi') { %> selected <% } %>>New Delhi</option>
                                <option value="roma" <% if (e.ThanhPho == 'roma') { %> selected <% } %> >Roma</option>
                            <%  }) %>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <%- include('grid-location') %>
        </div>
    </div>

    <!--link reservation-->
    <div class="background-link">
        <div class="container">
            <div class="fix-background-link">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row textinfo">
                            <div class="col-12">
                                <p class="title-text">Enjoy!</p>
                            </div>
                            <div class="col-12 fixcol">
                                <h3>MlemMlem's Pizza</h3>
                            </div>
                            <div class="col-12">
                                <p>
                                    Curabitur quas nets lacus ets nulat iaculis loremis etis
                                    nisle varius vitae seditum fugiatum ligula aliquam qui sequi.
                                </p>
                            </div>
                            <div class="col-12">
                                <a href="/reservation">
                                    <button class="btn" id="btn3"> RESERVATION</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 slider">
                        <div class="jarallax" data-jarallax-video="mp4:./videos/couple-eat-pizza.mp4">
                            <img class="jarallax-img" src="/images/rs2.jpg" alt="">
                            <div class="fix-video-jarallax"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    modal-->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#centralModalSm">
        Launch demo modal
    </button>
<!--end modal-->
    <%- include('footer') %>
    <!--java-->
    <script type="text/javascript" src="/lbs/mdBootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/parallax.min.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/jarallax.min.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/jarallax-video.min.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/mdb.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            new WOW().init();
        });
    </script>
    <script type="text/javascript">
        function changeCountry() {
            // console.log($("#country option:selected").val());
            // console.log($("#country option")[2].value);
            if ($("#country option:selected").val() === 'USA') {
                $("#area option").map(function () {
                    if ($(this).val() === 'washington') {
                        $(this).css('display','block');
                    } else {
                        $(this).css('display','none');
                    }
                })
            }
            if ($("#country option:selected").val() ==='India') {
                $("#area option").map(function () {
                    if ($(this).val() === 'delhi') {
                        $(this).css('display', 'block');
                    } else {
                        $(this).css('display','none');
                    }
                });
            }
            if ($("#country option:selected").val() === 'VIETNAM') {
                $("#area option").map(function () {
                    if ($(this).val() === 'hanoi') {
                        $(this).css('display', 'block');
                    } else if ($(this).val() === 'hcm') {
                        $(this).css('display', 'block');
                    } else {
                        $(this).css('display','none');
                    }
                })
            }
            if ($("#country option:selected").val() === 'ITALY') {
                $("#area option").map(function () {
                    if ($(this).val() === 'roma') {
                        $(this).css('display', 'block');
                    } else {
                        $(this).css('display','none');
                    }
                })
            }
        }
    </script>
    <script type="text/javascript">
        $('#FormChooseCity').submit((event) => {
            event.stopImmediatePropagation();
        });

        $('#area').on('change', () => {
            let count =0;
            let slow = setTimeout( () => {
                count++;
                $('#FormChooseCity').submit();
                if (count === 1) {
                    count = 0;
                    clearTimeout(slow);
                }
            },1500);
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaj0mHlR-keu-9hsR6d-gB0L9BclG04rk&callback=initMap">
    </script>
</body>

</html>
