<!--footer-->
<section class="backgroundImg">
    <div class="container-footer">
        <div class="row" style="padding-bottom: 20px ">
            <div class="col-md-4" style="margin-right: 15px">
                <div class="row">
                    <div class="col-md-12 title-footer">
                        <a href="/about-us">About us</a>
                    </div>
                    <div class="col-md-12">
                        <p class="fix-color-text">Quis autem velis et reprehender
                            etims quiste voluptate velit esse
                            quam nihil etsa illum sedit
                            consequatur quias.
                            Quis autem velis et reprehender
                            etims.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <p class="fix-color-text">follow us: &ensp;
                            <a href="https://www.youtube.com/channel/UC16msKbdBN-fzpdn1nAckvQ" target="_blank">
                                <i class="fab fa-youtube"></i></a>&ensp;
                            <a href="https://www.facebook.com/aptech.fpt" target="_blank">
                                <i class="fab fa-facebook"></i></a>&ensp;
                            <a href="https://twitter.com/" target="_blank">
                                <i class="fab fa-twitter"></i></a>&ensp;
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fab fa-instagram"></i></a>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 title-footer">
                        <a href="/contact">Contact</a>
                    </div>
                    <div class="col-md-12 fix-color-text">
                        <p>
                            <span><i class="fas fa-map-marker-alt"></i> &ensp; 8 ton that thuyet ha noi</span>
                        </p>
                        <p>
                            <span><i class="fas fa-phone-alt"></i>&ensp; 0988.888.888</span>
                        </p>
                        <p>
                            <span><i class="fas fa-envelope"></i>&ensp;MlemMlem@fpt.edu.com.vn</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-toTop" onclick="toTop()">
            <i class="fas fa-arrow-up"></i>
        </div>
    </div>

</section>

<!--javascript-->
<script type="text/javascript" src="/lbs/mdBootstrap/js/jquery.js"></script>
<script type="text/javascript">
    function toTop() {
        $('html,body').animate({
            scrollTop: 0,
        }, 700)
    }
</script>
