<!--==================== header ==================-->
<div class="header-top">
    <div class="navbar-header">
        <a class="navbar-brand .fix-a" href="#">SHALE PIZZAASSS</a>
    </div>
    <ul class="menu navbar-nav">
        <li><a class="fix-a" href="/">Home</a></li>
        <li><a class="fix-a" href="/about-us">ABOUT US</a></li>
        <li><a class="fix-a" href="/menu">MENU</a></li>
        <li><a class="fix-a" href="/reservation">RESERVATION</a></li>
        <li><a class="fix-a" href="/contact">CONTACT</a></li>
        <li><a class="fix-a" href="/blog">BLOG</a></li>
        <li><a class="fix-a" href="/cart">CART</a></li>

        <li>
            <div class="type-1">
                <div>
                    <a href="" class="btn btn-1">
                        <span class="txt">BOOK A TABLE</span>
                        <span class="round"><i class="fa fa-chevron-right"></i></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>


<script type="text/javascript" src="/lbs/mdBootstrap/js/jquery.js"></script>
<script type="text/javascript">
    var headerTop  = $('.header-top');
    window.addEventListener('scroll', () => {
        var scroll = window.pageYOffset;
        console.log(scroll);
        if (headerTop.offset().top <= 100) {
            headerTop.css('background-color', 'transparent');
        }
        if (headerTop.offset().top >= 100) {
            headerTop.css('background-color', 'black');
        }

    });
</script>

<!--==============   end header  ==============-->
