

<!--==================== header ==================-->
<div class="header">
    <div class="header-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SHALE PIZZAASSS</a>
        </div>
        <ul class="menu navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">MENU</a></li>
            <li><a href="#">RESERVATION</a></li>
            <li><a href="#">GALERY</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">BLOG</a></li>

            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>

            <li><div class="type-1">
                    <div>
                        <a href="" class="btn btn-1">
                            <span class="txt">BOOK A TABLE</span>
                            <span class="round"><i class="fa fa-chevron-right"></i></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>


<!--============ chager header ===============-->






<!--==============   end header  ==============-->