

<!--==================== header ==================-->
<div class="header">
    <div class="header-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SHALE PIZZAASSS</a>
        </div>
        <ul class="menu navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">MENU</a></li>
            <li><a href="#">RESERVATION</a></li>
            <li><a href="#">GALERY</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">BLOG</a></li>

            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>

            <li><div class="type-1">
                    <div>
                        <a href="" class="btn btn-1">
                            <span class="txt">BOOK A TABLE</span>
                            <span class="round"><i class="fa fa-chevron-right"></i></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>


<!--============ chager header ===============-->



    <div class="header-bot">
        <div class="overplay"></div>
        <div class="container header-image">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <span class="comic-text wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">True Passion</span>
                    <h2 class="section-title white wow bounceIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: bounceIn;">Natural Flavours</h2>

                    <hr/><p class="hero-text wow fadeInUp" data-wow-delay="2s" style="visibility: visible; animation-delay: 2s; animation-name: fadeInUp;">Opened in 2018, Pizzass is a famous chain of goods in Vietnam and many other countries in the world.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




<!--==============   end header  ==============-->