<!--==================== header ==================-->
<div class="header-top">
        <div class="row">
            <div class="col-md-3">
                <div class="navbar-header">
                <a class="navbar-brand fix-a" href="/">SHALE PIZZAASSS</a>
            </div>
            </div>
            <div class="col-md-9">
                <ul class="menu navbar-nav">
            <li><a class="fix-a" href="/">Home</a></li>
            <li><a class="fix-a" href="/about-us">ABOUT US</a></li>
            <li><a class="fix-a" href="/menu">MENU</a></li>
            <li><a class="fix-a" href="/cart">CART</a></li>
            <li><a class="fix-a" href="/contact">CONTACT</a></li>
            <li><a class="fix-a" href="/blog">BLOG</a></li>

            <li><a class="fix-a" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a class="fix-a" href="https://www.facebook.com/aptech.fpt" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a class="fix-a" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>

            <li>
                <div class="type-1">
                    <div>
                        <a href="/reservation" class="btn btn-1">
                            <span class="txt">BOOK A TABLE</span>
                            <span class="round"><i class="fa fa-chevron-right"></i></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
            </div>
        </div>
</div>


<script type="text/javascript" src="/lbs/mdBootstrap/js/jquery.js"></script>
<script type="text/javascript">
    var headerTop = $('.header-top');
    window.addEventListener('scroll', () => {
        if (headerTop.offset().top <= 100) {
            headerTop.css('background-color', 'transparent');
        }
        if (headerTop.offset().top >= 100) {
            headerTop.css('background-color', 'rgba(17, 17, 17, 0.95)');
        }
    });
</script>
<!--==============   end header  ==============-->
