<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shale-PIZZAAsss</title>
  <%- include('shared-imports') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="/css/bootstrap-spacing.css" type="text/css">
  <link rel="stylesheet" href="/css/home.css" type="text/css">
</head>

<body>
  <%- include('header')%>

  <div class="header">
    <div class="overlay"></div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="fancy welcome fadeInUp mb-0"><span class="first-letter">W</span>elcome</h2>
        <h1 class="sans-serif white-text brand-name fadeZoomIn">Shale-PIZZAAss</h1>
        <div class="line-container d-flex flex-row">
          <div class="line line-left"></div>
          <div class="spin">
            <div class="asterisk">*</div>
          </div>
          <div class="line line-right"></div>
        </div>
        <h5 class="sans-serif white-text slogan fadeInDown">HANDCRAFTED - WOODFIRED</h5>
      </div>
    </div>
  </div>
  <div class="section container">
    <div class="row">
      <div class="col-md-6 text-center px-50 wow slideInLeft"
           style="visibility: visible; animation-name: slideInLeft;">
        <span class="fancy">Discover</span>
        <h2 class="sans-serif">OUR STORY</h2>
        <p class="serif">Curabitur quas nets lacus ets nulat iaculis loremis etis nisle varius vitae seditum fugiatum
          ligula aliquam qui sequi. Lorem ipsum dolor sit amet, consectetur adipiscing elit rutrum eleif arcu sit
          aspernatur nets fugit, sed quia.
        </p>
        <a href="/about-us" class="btn btn-yellow sans-serif">ABOUT US</a>
      </div>
      <div class="col-md-6 wow bounceInRight"
           style="visibility: visible; animation-name: bounceInRight;padding-top : 40px">
        <div class="image-container">
          <img src="/images/kitchen-working.jpg" alt="Restaurant staff smiling" class="image">
          <div class="white-frame"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section parralax one">
    <div class="overlay"></div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <span class="fancy">True Passion</span>
        <h2 class="sans-serif white-text">NATURAL FLAVORS</h2>
      </div>
    </div>
  </div>
  <div class="section container">
    <div class="row">
      <div class="col-md-6 wow bounceInLeft"
           style="visibility: visible; animation-name: bounceInLeft;">
        <div class="image-container">
          <img src="/images/staff.jpg" alt="Restaurant staff smiling" class="image">
          <div class="white-frame"></div>
        </div>
      </div>
      <div class="col-md-6 text-center  wow slideInRight"
           style="visibility: visible; animation-name: slideInRight;padding-top : 40px">
        <span class="fancy">Discover</span>
        <h2 class="sans-serif">OUR CHEFS</h2>
        <p class="serif">Our local chefs are Italian-trained and are among the best at their job in the country. Each
          has their own strengths and the team are able to <br /> work well together to make sure our customers can
          enjoy <br /> the full-course menu. Not only are they masters at preparing your food, the plating as well as
          the accompanying condiments can most certainly guarantee a personal 5-star experience.
        </p>
        <a href="/about-us" class="btn btn-yellow sans-serif">MEET CHEFS</a>
      </div>
    </div>
  </div>
  <div class="section parralax two">
    <div class="overlay"></div>
    <div class="row">
      <div class="col-md-6 text-center">
        <span class="fancy">Best Recipes</span>
        <h2 class="sans-serif white-text">AWARDED CHEFS</h2>
        <div class="row">
          <!--begin col-md-6-->

          <div class="col-md-6">
            <!--begin menu-wrapper-->
            <div class="menu-wrapper">
              <!--begin home-menu-list-->
              <div class="home-menu-list">
                <h5 class="white-text">English Breakfast</h5>
                <p class="price">$12.95</p>
                <span class="dot-line"></span>
              </div>

              <!--end home-menu-list-->
              <p class="home-menu-ingredients">Scrambled eggs with crispy bacon, sausage, black pudding, tomato &amp; mushroom.</p>
            </div>
            <!--end menu-wrapper-->
          </div>
          <div class="col-md-6">
            <!--begin menu-wrapper-->
            <div class="menu-wrapper">
              <!--begin home-menu-list-->
              <div class="home-menu-list">
                <h5 class="white-text">Lasagna Classica</h5>
                <p class="price">$19.55</p>
                <span class="dot-line"></span>
              </div>
              <!--end home-menu-list-->
              <p class="home-menu-ingredients">Broccoli rabe, ittalian sausage, peperoncino, tomates, flour and roasted garlic.</p>
            </div>
            <!--end menu-wrapper-->
          </div>
          <div class="col-md-6">
            <!--begin menu-wrapper-->
            <div class="menu-wrapper">
              <!--begin home-menu-list-->
              <div class="home-menu-list">
                <h5 class="white-text">Vegetables Soup</h5>
                <p class="price">$9.95</p>
                <span class="dot-line"></span>
              </div>
              <!--end home-menu-list-->
              <p class="home-menu-ingredients">Papaya salsa, sliced red radishes, avocado, corn tortilla, spicy tomato ketchup.</p>
            </div>
            <!--end menu-wrapper-->
          </div>
          <div class="col-md-6">
            <!--begin menu-wrapper-->
            <div class="menu-wrapper">
              <!--begin home-menu-list-->
              <div class="home-menu-list">
                <h5 class="white-text">Toffee Pudding</h5>
                <p class="price">$10.50</p>
                <span class="dot-line"></span>
              </div>

              <!--end home-menu-list-->
              <p class="home-menu-ingredients">Baked caramel colored sponge cake with raisins, ladled with warm toffee sauce.</p>
            </div>
            <!--end menu-wrapper-->
          </div>
        </div>
        <a href="/menu" class="btn btn-white-transparent sans-serif">FULL MENU</a>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
  <div class="section container">
    <div class="row">
      <div class="col-xs-6 text-center  px-50 wow slideInLeft"
           style="visibility: visible; animation-name: slideInLeft;">
        <span class="fancy">Latest News</span>
        <h2 class="sans-serif">DELICIOUS RECIPES</h2>
        <p>we are always involved in learning but something new helps pizzassa grow even more in the future</p>
        <a href="#" class="btn btn-yellow sans-serif">OUR FOLLOW</a>
      </div>
      <div class="col-md-6 wow bounceInRight"
           style="visibility: visible; animation-name: bounceInRight;padding-top : 40px">
        <div class="image-container">
          <img src="/images/team.jpg" alt="Restaurant staff smiling" class="image">
          <div class="white-frame"></div>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer')%>



<!--  ====== animate ======-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script type="text/javascript">
    new WOW().init();
  </script>
  <!--  ====== end animate ======-->

</body>

</html>