<!DOCTYPE html>
<html lang="en">

<head>
    <title>Menu</title>
    <%- include('shared-imports') %>
    <link rel="stylesheet" href="/css/menu.css">
</head>

<body>
    <%- include('header')%>
    <!-- xinchao -->
    <!-- xinchao123 -->
    <section class="section-white">
        <!--        begin container-->
        <div class="container">
            <!--            begin row-->
            <div class="row">
                <div class="col-md-6">
                    <h2 class="menu-section-title">PIZZAS</h2>
                    <div class="menu-wrapper">
                        <div class="menu-image">
                            <a href="#">
                                <img src="/images/pizza1.jpg" class="width-100">
                            </a>
                        </div>
                        <div class="menu-description">
                            <div class="menu-list">
                                <h5>CHEESE & TOMATO</h5>
                                <p class="price">$10.00</p>
                                <span class="menu-dot-line"></span>
                            </div>
                            <p class="menu-ingredients">Cheese & tomato</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="menu-image">
                            <a href="#">
                                <img src="/images/pizza2.jpg" class="width-100">
                            </a>
                        </div>
                        <div class="menu-description">
                            <div class="menu-list">
                                <h5>BBQ BEAST</h5>
                                <p class="price">$14.99</p>
                                <span class="menu-dot-line"></span>
                            </div>
                            <p class="menu-ingredients">BBQ sauce, Chicken, Pepperoni, Meatballs, Green peppers, red
                                peppers, jalapeno Peppers</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="menu-section-title">PIZZAS</h2>
                    <div class="menu-wrapper">
                        <div class="menu-image">
                            <a href="#">
                                <img src="/images/pizza1.jpg" class="width-100">
                            </a>
                        </div>
                        <div class="menu-description">
                            <div class="menu-list">
                                <h5>CHEESE & TOMATO</h5>
                                <p class="price">$10.00</p>
                                <span class="menu-dot-line"></span>
                            </div>
                            <p class="menu-ingredients">Cheese & tomato</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="menu-image">
                            <a href="#">
                                <img src="/images/pizza2.jpg" class="width-100">
                            </a>
                        </div>
                        <div class="menu-description">
                            <div class="menu-list">
                                <h5>BBQ BEAST</h5>
                                <p class="price">$14.99</p>
                                <span class="menu-dot-line"></span>
                            </div>
                            <p class="menu-ingredients">BBQ sauce, Chicken, Pepperoni, Meatballs, Green peppers, red
                                peppers, jalapeno Peppers</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--            end row-->
            <!--            begin row-->
            <div class="row">
                <div class="col-md-6">
                    <h2 class="menu-section-title">PIZZAS</h2>
                    <div class="menu-wrapper">
                        <div class="menu-image">
                            <a href="#">
                                <img src="/images/pizza1.jpg" class="width-100">
                            </a>
                        </div>
                        <div class="menu-description">
                            <div class="menu-list">
                                <h5>CHEESE & TOMATO</h5>
                                <p class="price">$10.00</p>
                                <span class="menu-dot-line"></span>
                            </div>
                            <p class="menu-ingredients">Cheese & tomato</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="menu-image">
                            <a href="#">
                                <img src="/images/pizza2.jpg" class="width-100">
                            </a>
                        </div>
                        <div class="menu-description">
                            <div class="menu-list">
                                <h5>BBQ BEAST</h5>
                                <p class="price">$14.99</p>
                                <span class="menu-dot-line"></span>
                            </div>
                            <p class="menu-ingredients">BBQ sauce, Chicken, Pepperoni, Meatballs, Green peppers, red
                                peppers, jalapeno Peppers</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="menu-section-title">PIZZAS</h2>
                    <div class="menu-wrapper">
                        <div class="menu-image">
                            <a href="#">
                                <img src="/images/pizza1.jpg" class="width-100">
                            </a>
                        </div>
                        <div class="menu-description">
                            <div class="menu-list">
                                <h5>CHEESE & TOMATO</h5>
                                <p class="price">$10.00</p>
                                <span class="menu-dot-line"></span>
                            </div>
                            <p class="menu-ingredients">Cheese & tomato</p>
                        </div>
                    </div>
                    <div class="menu-wrapper">
                        <div class="menu-image">
                            <a href="#">
                                <img src="/images/pizza2.jpg" class="width-100">
                            </a>
                        </div>
                        <div class="menu-description">
                            <div class="menu-list">
                                <h5>BBQ BEAST</h5>
                                <p class="price">$14.99</p>
                                <span class="menu-dot-line"></span>
                            </div>
                            <p class="menu-ingredients">BBQ sauce, Chicken, Pepperoni, Meatballs, Green peppers, red
                                peppers, jalapeno Peppers</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--            end row-->
        </div>
        <!--        end container-->
    </section>
    <%- include('footer')%>

</body>

</html>