/*======================= header bot ==================*/

.header-bot {
    width: 100%;
    height: 600px;
    position: relative;
    background: url(../images/demoepic.jpg) 50% top no-repeat fixed;
    background-size: cover;
    color: white;
    margin: 0 auto;
    padding: 210px 0 90px
}

.section-title {
    font-family: 'Lora', serif;
    font-size: 60px;
}

.header-bot .overplay {
    background: rgba(17, 17, 17, 0.75);
    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.text-center {
    text-align: center;
}

.comic-text {
    font-size: 80px;
    line-height: 60px;
    color: #F2B410;
    font-family: 'Tangerine', cursive;
}

.animate__bounceInLeft {
    --animate-duration: 5s;
}

hr {
    width: 50px;
}

/*========================= end header bot ======================*/
/*======================================== container =====================*/

.serif {
    font-family: 'Lora';
}

.container-1 {
    margin-top: 130px;
}

.container-1 img {
    margin-left: -30px;
}

/*=============================== button ==================*/
.btn {
    border-radius: 0;
    box-shadow: none;
}

.btn,
.btn:hover {
    transition: all 0.25s ease-in-out;
}

.btn.btn-yellow {
    position: relative;
    color: #fff;
    background-color: #F2B410;
    border-color: #F2B410;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 700;
    padding: 18px 32px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 2px;
}

.btn.btn-yellow::before {
    display: block;
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.btn.btn-yellow:hover {
    box-shadow: none;
    background-color: #F39C12 !important;
}

/*==================================== end botton==================*/
#myCarousel {
    margin-top: 130px;
}

.footer-about {
    margin-top: 10px;
}