/*
-----Mục lục------
1.Home
2.About Us
3.Menu
4.RESERVATION
5.GALERY
6.CONTACT
7.BLOG
 */


/*------------------------------------------------------*/
/*1.home*/




/*------------------------------------------------------*/
/*2.About Us*/







/*------------------------------------------------------*/
/*3.Menu*/



/*------------------------------------------------------*/
/*4.RESERVATION*/






/*------------------------------------------------------*/
/*5.GALERY*/








/*------------------------------------------------------*/
/*6.CONTACT*/











/*------------------------------------------------------*/
/*7.BLOG*/
body,
html {
  height: 100%;
}

/* texts */
.serif {
  font-family: 'Lora';
}

.sans-serif {
  font-family: 'Montserrat';
  font-size: 36px;
  line-height: 42px;
  margin-top: 0;
}

.fancy {
  font-family: 'Tangerine';
  color: #F2B410;
  font-size: 80px;
  line-height: 60px;
}

.white-text {
  color: white
}

/* end text */

.header {
  background-image: url('../images/pizza-fire.jpg');
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header .row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brand-name {
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.slogan {
  font-size: 14px;
  letter-spacing: 0.4em;
}

.section {
  min-height: 60%;
  padding: 90px 0;
}

.parralax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parralax.one {
  background-image: url('../images/pizza-frame.jpg');
  min-height: 50%;
}

.parralax.two {
  background-image: url('../images/pizza-right.jpg');
  min-height: 80%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parralax.one .row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}