body{
    font-family: Lora, serif;
}
/*head*/
.parallax{
    width:100%;
    height:600px;
    position:relative;
}
.background-color {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.8);;
}
.fix-title-head{
    color: white;
    margin:230px auto;
}
.title-yellow-head{
    font-size: 80px;
    line-height: 60px;
    color: #F2B410;
    font-family: 'Tangerine', cursive;
}
.title-h2-head{
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    line-height: 50px;
    margin: 5px 0 20px;
    font-weight: 700;
}
.p-head{
    font-family: Lora, serif;
    font-size: 18px;
    line-height: 30px;
    color: #eee;
}
/*end head*/
.parallax{
    width:100%;
    height:600px;
    position:relative;
    background:transparent;
}
.background-color-form {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.9);
}
.Contact {
    width: 100%;
    text-align: center;
    margin: 80px auto 40px;
    overflow: hidden;
}
.title{
    margin: 0 auto;
    text-align: center;
}
.title h2 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
}
.description{
    margin: 0 auto 30px;
    text-align: center;
}
.description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(119, 119, 119);
}
.buton {
    margin-top: 20px;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    outline: none;
}
input , textarea{
    width: 90%;
    color: #656565;
    border: 1px solid #45454590;
    background-color: transparent;
    margin-bottom:20px;
    padding: 20px 15px;
}
input:focus , textarea:focus{
    border-color: #F2B410;
    outline: none;
}
input{
    height:60px;
}
textarea{
    height : 220px;
    resize: none;
}
.fixBtn1{
    margin:0 auto;
    background:#F2B410;
    color:#fff;
    font-weight:700;
    border:2px solid #F2B410;
    box-shadow: none;
    transition-duration: 0.6s;
    font-size:16px;
}
.fixBtn1:hover{
    background: transparent;
    color:#F2B410;
    border:2px solid #F2B410;
    box-shadow: none;
}

.background-local{
    color: white;
    padding:50px 0 ;
    width:100%;
    position: relative;
    background: url("../images/backgroundLocation.jpg") repeat;
}

.selected{
    margin: 50px auto;
    width: 60%;
}
.fixBtn2{
    margin-top: -1px;
    background:#fff;
    font-weight:500;
    font-size: 18px;
    font-family: inherit;
    padding: 10px 20px;
    border: none;
}
.location {
    width:95%;
    margin: 50px auto 40px;
    padding: 40px 0;
    position:relative;
}
.initMap {
    height:300px;
    position:absolute;
    top:-20px;
    right:0;
    z-index:2;
}
.infomation{
    text-align:center;
}
.info{
    padding-top:30px;
}
.col-12{
    margin-bottom:20px;
}
.col-12 > h4 {
    font-weight:700;
    font-size:30px;
}
.btn2{
    background:#F2B410;
    color:#fff;
    font-weight:700;
    border:2px solid #F2B410;
    font-size:16px;
}
.btn2:hover{
    background: transparent;
    color:#F2B410;
    border:2px solid #F2B410;
    box-shadow: none;
}

.background-link{
    background-color: rgba(255, 255, 255, 1);
    width:100%;
}
.fix-background-link {
    width:95%;
    margin:80px auto 40px;
}

.textinfo{
    text-align:center;
    margin-top:30px;
}
.title-text{
    font-size:80px;
    color:#F2B410;
    font-family: 'Tangerine', cursive;
}
.fixcol{
    margin-top:-50px;
}
.fixcol > h3 {
    font-size:35px;
    font-weight: 600;
}
#btn3{
    padding: 10px 30px;
    background:#F2B410;
    color:#fff;
    font-weight:700;
    border:2px solid #F2B410;
    font-size:16px;
    border-radius: 0;
    box-shadow: none;
}
#btn3::before{
    display: block;
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    border: 1px solid #fff;
}
.slider{
    padding: 30px 0 20px;
    width:100%;
    height:400px;
}
.jarallax {
    position:relative;
    height:100%;
    background: rgba(255, 255, 255, 0.9);
}
.fix-video-jarallax{
    position: absolute;
    top:10px;
    right:10px;
    left:10px;
    bottom:10px;
    border:1px solid #eeeeee;
}
