body,
html {
  height: 100%;
}

/* texts */
.serif {
  font-family: 'Lora';
}

.sans-serif {
  font-family: 'Montserrat';
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  margin-top: 0;
}

.fancy {
  font-family: 'Tangerine';
  color: #F2B410;
  font-size: 80px;
  line-height: 60px;
}

.white-text {
  color: white
}

p {
  margin: 20px 0 25px;
}

.asterisk {
  height: 19px;
  margin-top: -11px;
  font-family: Source Sans Pro;
  color: #F2B410;
  font-size: 24px;
  animation-name: appear;
  animation-duration: 1.8s;
  animation-timing-function: linear;
}

/* end text */

.header {
  background-image: url('../images/pizza-fire.jpg');
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header .row {
  display: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.welcome {
  margin-bottom: 0;
}

.first-letter {
  position: relative;
  top: 12px;
  font-size: 120px;
}

.brand-name {
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.slogan {
  font-size: 14px;
  letter-spacing: 0.4em;
}

.line-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  width: 150px;
  height: 1px;
  background-color: #fff;
  margin: 0 20px;

  animation-name: expand;
  animation-duration: 1.8s;
  animation-timing-function: linear;
}

.section {
  min-height: 55%;
  padding: 90px 0;
}

.parralax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parralax.one {
  background-image: url('../images/pizza-frame.jpg');
  min-height: 50%;
}

.parralax.two {
  background-image: url('../images/pizza-right.jpg');
  min-height: 80%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parralax.one .row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  margin: auto;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.image-container::before {
  display: block;
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* buttons */
.btn {
  border-radius: 0;
  box-shadow: none;
}

.btn,
.btn:hover {
  transition: all 0.25s ease-in-out;
}

.btn.btn-yellow {
  position: relative;
  color: #fff;
  background-color: #F2B410;
  border-color: #F2B410;
  font-family: 'Montserrat',
    sans-serif;
  font-weight: 700;
  padding: 18px 32px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 2px;
}

.btn.btn-yellow::before {
  display: block;
  content: '';
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.btn.btn-yellow:hover {
  box-shadow: none;
  background-color: #F39C12 !important;
}

.btn.btn-white-transparent {
  color: white;
  background-color: transparent;
  border-color: white;
  font-family: 'Montserrat',
    sans-serif;
  font-weight: 700;
  padding: 18px 32px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 2px;
}

.btn.btn-white-transparent:hover {
  box-shadow: none;
  color: #F2B410;
  background-color: white !important;
}

/* animation classes */

.fadeZoomIn {
  animation-name: fadeZoomIn;
  animation-duration: 1.2s;
  animation-delay: 0.3s;
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1.4s;
}

.fadeInDown {
  animation-name: fadeInDown;
  /* duration = 0.1s before finish spinning */
  animation-duration: 2.2s;
}

.spin {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: spin;
  animation-duration: 0.3s;
  /* spin delay = appear duration - 0.3s */
  animation-delay: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: 2.2;
}

/* animation declarations */
@keyframes fadeZoomIn {
  from {
    opacity: 0;
    letter-spacing: 1em;
    transform: scale(2, 2) translateY(100%);
  }

  to {
    opacity: 1;
    letter-spacing: 0.2em;
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  80% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }

  80% {
    opacity: 0;
    transform: translateY(-80%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes appear {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes expand {
  0% {
    opacity: 0;
    width: 0px;

  }

  80% {
    opacity: 1;
    width: 0px;

  }

  100% {
    opacity: 1;
    width: 150px;

  }
}