/* xinchao */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
/*head*/

.parallax{
    width:100%;
    height:600px;
    position:relative;
}
.background-color {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.45);
}
.fix-title-head{
    color: white;
    margin:230px auto;
}
.title-yellow-head{
    font-size: 80px;
    line-height: 60px;
    color: #F2B410;
    font-family: 'Tangerine', cursive;
}
.title-h2-head{
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    line-height: 50px;
    margin: 5px 0 20px;
    font-weight: 700;
}
.p-head{
    font-size: 18px;
    line-height: 30px;
    color: #eee;
}
/*end head*/
.section-white {
    background-color: #fff;
    padding: 90px 0;
}

/*.container {*/
/*    width: 1170px;*/
/*}*/

.row {
    margin-right: -15px;
    margin-left: -15px;
}

h2.menu-section-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
    position: relative;
    margin-bottom: 50px;
    margin-right: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

h2.menu-section-title::after {
    position: absolute;
    content: "";
    background-color: #f8c12c;
    height: 3px;
    width: 50px;
    bottom: -1px;
    left: 0;
}

.menu-wrapper {
    display: inline-block;
    padding-right: 20px;
    margin-bottom: 10px;
}
.menu-image {
    position: relative;
    float: left;
    width: 20%;
}
.menu-wrapper:hover .hover-order{
    opacity: 1;
    transition: all 500ms;
}
.hover-order{
    opacity: 0;
    width: 100%;
    height: 100%;
    background: #45454590;
    position: absolute;
    transition: all 500ms;
}
.hover-order>a,
.hover-order>a:hover{
    color: #f2b410;
}
.hover-order>a>i{
    margin-top: 20px;
    font-size: 40px;
}
.width-100 {
    width: 100%;
}

.menu-description {
    float: left;
    padding-left: 5%;
    width: 75%;
}

.menu-list {
    display: block;
    clear: both;
}

.menu-list h5 {
    font-size: 18px;
    line-height: 22px;
    vertical-align: bottom;
    font-family: 'Lora', serif;
    font-weight: 700;
    float: left;
    letter-spacing: 2px;
    max-width: 70%;
    padding-right: 12px;
    margin: 5px 0;
}

.menu-list p.price {
    color: #F2B410;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    display: inline-block;
    vertical-align: bottom;
    float: right;
    padding-top: 7px;
    padding-left: 12px;
    margin-bottom: 5px;
}

.menu-dot-line {
    border-bottom: 2px dotted #F2B410;
    height: 22px;
    overflow: hidden;
    display: block;
}

p.menu-ingredients {
    display: block;
    clear: both;
    width: 100%;
}

/*section parallax*/
.margin-bottom-30 {
    margin-bottom: 30px !important;
}
span.comic-text {
    font-size: 80px;
    line-height: 60px;
    color: #F2B410;
    font-family: 'Tangerine', cursive;
}
h3.section-title {
    color: #252525;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 2px;
    margin: 0 0 30px 0;
}
.menu-wrapper {
    display: inline-block;
    padding-right: 20px;
    margin-bottom: 10px;
}
.home-menu-list {
    display: block;
    clear: both;
}
.home-menu-list h5 {
    font-size: 18px;
    line-height: 24px;
    vertical-align: bottom;
    font-family: 'Lora', serif;
    font-weight: 700;
    color: #FFF;
    float: left;
    letter-spacing: 2px;
    max-width: 70%;
    padding-right: 10px;
    margin-bottom: 10px;
}
.home-menu-list p.price {
    color: #F2B410;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    display: inline-block;
    vertical-align: bottom;
    float: right;
    padding-top: 8px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.dot-line {
    border-bottom: 2px dotted #fff;
    height: 29px;
    overflow: hidden;
    display: block;
}
.home-menu-ingredients {
    display: block;
    clear: both;
    width: 100%;
    color: #eee;
}

/*slider*/
.fix-slider{
    width: 100%;
    height: 900px;
    position: relative;
}
