*{
    /*font-family: Lora, serif;*/
    font-size: 18px;
}
/*head*/
.parallax{
    width:100%;
    height:600px;
    position:relative;
}
.background-color {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#111111bf;
}
.fix-title-head{
    color: white;
    margin:230px auto;
}
.title-yellow-head{
    font-size: 80px;
    line-height: 60px;
    color: #F2B410;
    font-family: 'Tangerine', cursive;
}
.title-h2-head{
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    line-height: 50px;
    margin: 5px 0 20px;
    font-weight: 700;
}
.p-head{
    font-family: Lora, serif;
    font-size: 18px;
    line-height: 30px;
    color: #eee;
}
/*end head*/
.form-book{
    margin-top: 40px;
}
.img-chef{
    max-width: 100%;
}
.text-form{
    position: absolute;
    top: 0;
    margin-top: 20px;
}
.text-title > p{
    font-size: 80px;
    line-height: 60px;
    color: #F2B410;
    font-family: 'Tangerine', cursive;
}
.text-h2 > h2{
    font-family: 'Montserrat', sans-serif;
    color: #252525;
    font-size: 42px;
    line-height: 50px;
    margin-top: -20px;
    font-weight: 700;
}

.text-end > p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
    margin-bottom: 25px;
}
.form-input{
    position: absolute;
    bottom: 20px;
    margin-top: 10px;
}

.fix-input{
    color: #45454590;
    width: 100%;
    height: 52px;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 20px;
    border: 1px solid #45454590;
    background-color: transparent;
}
.fix-input:focus{
    box-shadow: none;
    border-color: #F2B410;
    outline: none;
}
.a-submit::before{
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
}
.a-submit{
    z-index: 1;
}
.a-submit > input{
    width: 100%;
    text-align: center;
    padding: 15px;
}

.fix-jarallax{
    width: 100%;
    height: 100vh;
    position: relative;
}
.jarallax{
    width: 100%;
    height: 100%;
}
.container-jarallax{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 46, 46, 0.78);
}
.text-center-jaralax{
    text-align: center !important;
    top: 50%;
    position: absolute;
    width: 100%;
}
.text-center-jaralax > h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 3rem;
}
.text-center-jaralax > h1  > span{
    color: #f2b410;
    font-size: 3rem;
}

.adversity{
    width: 100%;
    margin:70px auto 20px ;
}
.fix-img{
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 0 auto 30px;
}
.btn-a{
    position: relative;
}
.btn-a::before{
    content: '';
    z-index: 3;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px solid #fff;
}
.img-gradient{
    position:relative;
    display:inline-block;
}
.img-gradient:after {
    transition: all 500ms;
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: linear-gradient(0deg, rgb(36, 32, 32),transparent,transparent,transparent );
}
.text-type-pizza{
    position: absolute;
    width: 100%;
    bottom: -20px;
    justify-content: center;
    display: flex;
}
.text-type-pizza > p {
    text-transform: lowercase;
    font-size: 60px;
    font-weight: 700;
    color:#f2b410 ;
    font-family: 'Tangerine', cursive;
}
.icon-ref{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
}
/*.icon-ref:hover,*/
.btn-a:hover > .img-gradient::after,
.btn-a:hover > .text-type-pizza{
    transition: all 500ms;
    opacity: 0;
}
.btn-a:hover > .icon-ref {
    transition: all 500ms;
    opacity: 1;
    z-index: 5;
    background-color: #292925c2;
}
.icon-ref > a:hover{
    color: #f2b410;
    text-decoration-line: none;
}
.icon-ref > a{
    font-size: 25px;
    color: #f2b410 !important;
    text-align: center;
    margin-right: -30px;
}
.thankyou{
    position: absolute;
    top: 50%;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.thankyou a{
    font-size: 1.5rem;
    color: #f2b410;
}
.thankyou a:hover{
    text-decoration-line: none;
}
